openapi: 3.2.0
info:
  title: Magnite Users API
  version: '1.0'
  description: 'Operations tagged Users across 2 of this provider''s published API definitions: magnite-springserve-v0-openapi.yml, magnite-springserve-v1-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://console.springserve.com
  description: Production API endpoint named by the SpringServe developer documentation (API - Getting Started).
- url: https://api.springserve.com
  description: Same application; also serves the Swagger UI at /api-docs. Verified 2026-08-13.
security:
- api_key: []
- bearer_token: []
tags:
- name: Users
paths:
  /api/v0/users:
    get:
      summary: Index
      parameters:
      - $ref: ref/params.yaml#/components/parameters/pageParam
      - $ref: ref/params.yaml#/components/parameters/perParam
      - $ref: ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Users
      operationId: users_get
    servers:
    - url: https://console.springserve.com
      description: Production API endpoint named by the SpringServe developer documentation (API - Getting Started).
    - url: https://api.springserve.com
      description: Same application; also serves the Swagger UI at /api-docs. Verified 2026-08-13.
  /api/v0/users/{id}:
    get:
      summary: Show
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Users
      operationId: users_id_get
    servers:
    - url: https://console.springserve.com
      description: Production API endpoint named by the SpringServe developer documentation (API - Getting Started).
    - url: https://api.springserve.com
      description: Same application; also serves the Swagger UI at /api-docs. Verified 2026-08-13.
  /api/v1/users/account_managers:
    get:
      summary: Account Managers
      description: Get the list of users that can be account managers, which is the query `all_accounts_access=true or super_admin=true`
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Users
      operationId: users_account_managers_get
    servers:
    - url: https://console.springserve.com
      description: Production API endpoint named by the SpringServe developer documentation (API - Getting Started).
    - url: https://api.springserve.com
      description: Same application; also serves the Swagger UI at /api-docs. Verified 2026-08-13.
  /api/v1/users/current:
    get:
      summary: Current user
      description: Get information on current user
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Users
      operationId: users_current_get
    patch:
      summary: Update current user
      description: Update current user
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                $ref: '#/components/examples/user_update_current_simple'
              full:
                $ref: '#/components/examples/user_update_current_full'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Users
      operationId: users_current_patch
    servers:
    - url: https://console.springserve.com
      description: Production API endpoint named by the SpringServe developer documentation (API - Getting Started).
    - url: https://api.springserve.com
      description: Same application; also serves the Swagger UI at /api-docs. Verified 2026-08-13.
  /api/v1/users/permissions:
    get:
      summary: Permissions Collection
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Users
      operationId: users_permissions_get
    servers:
    - url: https://console.springserve.com
      description: Production API endpoint named by the SpringServe developer documentation (API - Getting Started).
    - url: https://api.springserve.com
      description: Same application; also serves the Swagger UI at /api-docs. Verified 2026-08-13.
  /api/v1/users/{id}/permissions:
    get:
      summary: Permissions Member
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Users
      operationId: users_id_permissions_get
    servers:
    - url: https://console.springserve.com
      description: Production API endpoint named by the SpringServe developer documentation (API - Getting Started).
    - url: https://api.springserve.com
      description: Same application; also serves the Swagger UI at /api-docs. Verified 2026-08-13.
components:
  examples:
    user_update_current_simple:
      summary: Simple
      value:
        name: User Name
        timezone: America/New_York
    user_update_current_full:
      summary: Full
      value:
        name: User Name
        timezone: America/New_York
        default_report_template_id: 1
        notification_opt_outs:
        - DC Requests
        all_notification_opt_outs: false
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: Authorization
      description: SpringServe authorization token based authentication.
    bearer_token:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: SpringServe authorization bearer token based authentication.  This key is included in the response from the /api/v0/auth and /api/v1/auth endpoints.  This key will be automatically set if you run the example for /api/v0/auth or /api/v1/auth
x-refined-from:
- magnite-springserve-v0-openapi.yml
- magnite-springserve-v1-openapi.yml
